@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestión de expedientes</h1>
    <p class="lead">Bienvenido al portal de manejo de expedientes de la Intendencia. Cargue los datos de las Juntas Departamentales o ingrese al sistema para mas opciones.</p>
</div>

